body{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/confectionary.png);
    background-color: #cccccc;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    margin: 0;
}